<ion-header>
    <!--<app-header [pageTitle]="pageTitle"> </app-header>-->
    <ion-toolbar>
        <ion-buttons slot="start" size= "large">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-title> {{pageTitle}} </ion-title>
        <ion-avatar slot="end">
            <img src="./../../../assets/icon/rym.jpg" alt="">
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-card>
    <ion-card-content>
        <ion-list *ngIf="listadoCharacter">
            <ion-item *ngFor='let character of listadoCharacter'>
                <ion-avatar slot="start">
                    <img [src]=character.image alt="">
                </ion-avatar>
                <ion-label>
                    <h3> {{character.name}}</h3>
                </ion-label>
                <ion-icon class="ff" name="arrow-forward" (click)="obtenerDetallePerfil(character)" color="warning"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>