#FotoDivisas{
    border-radius: 8px;     
}

#valor1{
    font-size: small; 
    text-align: center; 
    outline: none;
    box-shadow: 0 0 0 2px orange;
    background-color:grey;
    background-size:cover;
}
