<ion-header>
    <app-header [pageTitle]="pageTitle"> </app-header>
</ion-header>


<ion-content>
    <ion-app>
        <ion-card>
            <ion-header>
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="../../../assets/icon/bienvenido.png" alt="">
                </div>
                <ion-card-title id="nombre">
                    <h2>Alumnos: Sebastián Celis - David Fonseca</h2>
                    <h2>Ramo: Desarrollo de aplicaciones mobiles</h2>
                </ion-card-title>
            </ion-header>
            <ion-card-content>
                <h3>En esta aplicación existen 3 funciones:</h3> <br>
                <h4>Clima: Entrega el clima actual de la región metropolitana</h4><br>
                <h4>Conversor: Es posible convertir valores monetarios</h4><br>
                <h4>Rick y morty: Entrega información de los personajes de Rick y morty</h4><br>
            </ion-card-content>
        </ion-card>
    </ion-app>
</ion-content>
