<ion-header>
  <!--<app-header [pageTitle]="pageTitle"> </app-header>-->
  <ion-toolbar>
    <ion-buttons slot="start" size= "large">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title> {{pageTitle}} </ion-title>
      <ion-avatar slot="end">
          <img src="./../../../assets/icon/rym.jpg" alt="">
      </ion-avatar>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-list lines="full">
      <form [formGroup]="mainForm" (ngSubmit)="addFormulario()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input autocapitalize inputmode = "text" formControlName = "nombre" ></ion-input>    
        </ion-item> 
        <div *ngFor="let error of errorMessages.nombre">
          <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input inputmode = "email" formControlName = "email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> 
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!mainForm.valid" type="submit" expand="block" color="tertiary" shape="full">
              Suscribirme
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  
    <ion-list>
      <ion-list-header>
        Suscriptores
      </ion-list-header>
  
      <ion-item lines="inset" *ngFor="let formulario of Data">
        <ion-label>
          <h5>{{ formulario.nombre }}</h5>
          <p>{{ formulario.email }}</p>
        </ion-label>
  
        <div class="item-note" item-end>
          <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['formulario',formulario.id]"></ion-icon>
          <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteSuscripcion(formulario.id)"></ion-icon>
        </div>
  
      </ion-item>
    </ion-list>
  </ion-content>






    


